{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Choose a date for a virtual meeting</h1>

      <form class="form" action="/virtual-meeting-time" method="post">

        <p>This meeting will take less than 5 minutes and will be held on Google Meet at your preferred time.
          <br><br>
          You should have your photo ID and national insurance number ready.</p>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="select-date" name="select-date" type="radio" value="monday">
                  <label class="govuk-label govuk-radios__label" for="select-date">
                    Monday 22 August
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="select-date-2" name="select-date" type="radio" value="tuesday">
                  <label class="govuk-label govuk-radios__label" for="select-date-2">
                    Tuesday 23 August
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="select-date-3" name="select-date" type="radio" value="wednesday">
                  <label class="govuk-label govuk-radios__label" for="select-date-3">
                    Wednesday 24 August
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="select-date-4" name="select-date" type="radio" value="thursday">
                  <label class="govuk-label govuk-radios__label" for="select-date-4">
                    Thursday 25 August
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="select-date-5" name="select-date" type="radio" value="friday">
                  <label class="govuk-label govuk-radios__label" for="select-date-5">
                    Friday 26 August
                  </label>
                </div>                
              </div>
              
          
            </fieldset>
          </div>
<br>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
