{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">We will need to verify your documents</h1>

      <form id="verify-documents-method" class="form" action="/verify-method-answer" method="post">

        <p>There are 3 different ways you can do this. You will only need to choose 1 way:</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verify-documents" name="verify-documents" type="radio" value="uploadvideo">
                <label class="govuk-label govuk-radios__label" for="verify-documents">
                  upload a video of yourself saying your name and national insurance number
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verify-documents-2" name="verify-documents" type="radio" value="virtualmeet">
                <label class="govuk-label govuk-radios__label" for="verify-documents-2">
                  arrange a short, virtual meeting via Google Meets
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verify-documents-3" name="verify-documents" type="radio" value="facetoface">
                <label class="govuk-label govuk-radios__label" for="verify-documents-3">
                  attend a face-to-face appointment in the council office
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
